[defaults]
host_key_checking     = false
display_skipped_hosts = false
show_per_host_start   = True
deprecation_warning   = false
;stdout_callback         = yaml

[privilege_escalation]
become_method = sudo
become_allow_same_user = True

[ssh_connection]
# Fix for ACL permission issues when becoming unprivileged user
pipelining = True